---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/sections/Hero.astro";
import Experience from "@/sections/Experience.astro";
import Other from "@/sections/Other.astro";
import Certs from "@/sections/Certs.astro";
import "@fontsource/pacifico";
---

<Layout title="Portfolio">
  <main>
    <Hero />
    <Experience />
    <Certs />
    <Other />
  </main>

  <style></style>
</Layout>
