---
import Greetings from "@/components/Greetings.astro";
import Timeline from "@/components/Timeline.astro";
import Layout from "@/layouts/Layout.astro";
import ruido from "@/images/nnnoise.svg";
import Nav from "@/components/Nav.astro";
---

<Layout title="Alejandro Bernardo | Software Engineer">
  <main class="grid grid-cols-1 place-items-center gap-16 px-14">
    <img
      class="fixed w-full h-full object-cover pointer-events-none z-[-1]"
      src={ruido.src}
      alt="ruido"
    />
    <Nav />
    <Greetings />
    <Timeline />
  </main>
</Layout>