---
import Greetings from "@/components/Greetings.astro";
import Timeline from "@/components/Timeline.astro";
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import "@fontsource/pacifico";
import "@fontsource/roboto";
import ruido from "@/images/nnnoise.svg";
---

<Layout title="Alejandro Bernardo | Software Engineer">
  <main class="grid grid-cols-1 place-items-center">
    <img
      class="fixed w-full h-full object-cover pointer-events-none z-[-1]"
      src={ruido.src}
      alt="ruido"
    />
    <Greetings />
    <Timeline />
  </main>

  <style>
    body {
      font-family: "Roboto", sans-serif;
    }
  </style>
</Layout>
