---
import profilePic from "@/images/profile-pic-blue.png";
---

<section class="flex items-center justify-center h-auto pt-32 scale-75">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 place-items-center">
    <img src={profilePic.src} alt="Profile picture" class="h-40 rounded-full" />
    <div>
      <p class="text-sm mt-5 lg:text-lg text-center">
        🤙 Hola, soy Alejandro Bernardo <br /> Ingeniero Multimedia, apasionado por
        la tecnología.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    color: #000000;
  }
</style>
