---
import profilePic from "@/images/profile-pic-blue.png";
---

<section class="flex items-center justify-center h-auto pt-32">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1 place-items-center">
    <img src={profilePic.src} alt="Profile picture" class="h-40 rounded-full" />
    <div class="flex flex-col items-center gap-4">
      <p class="text-sm mt-5 lg:text-lg text-center">
        🤙 Hola, soy Alejandro Bernardo <br /> Ingeniero Multimedia, apasionado por
        la tecnología.
      </p>
      <div class="flex items-center justify-center gap-2">
        <a class="bg-[#c6e2ff] text-[#1e429f] px-4 py-2 rounded-md hover:bg-[#1e429f] hover:text-[#d7eaff] transition-colors" download="CV_Alejandro_Bernardo_Ruperez.pdf" href="/portfolio/assets/CV_Alejandro_Bernardo_Ruperez.pdf">Descargar CV</a>  
        <p>o</p>
        <a class="text-[#1e429f] px-4 py-2 rounded-md hover:text-[#121445] transition-colors" href="/portfolio/assets/CV_Alejandro_Bernardo_Ruperez.pdf" target="_blank">Ver CV</a>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    color: #000000;
  }

</style>
