<nav class="top-3 left-2 absolute z-10 flex items-center">
  <img src="/portfolio/Logo Sin Fondo.png" alt="Logo" class="w-14 hover:animate-spin hover:cursor-grab focus:cursor-grabbing" />
  <p class="font-bold text-xs text-[#091739]">{'/Alex/'}</p>
</nav>
