---
import type { Project } from "@/lib/projects";
import { Image } from "astro:assets";

interface ProjectItemProps {
  project: Project;
}
const { project } = Astro.props;
---

<a href={project.url} rel="noopener noreferrer" target="_blank">
  <section
    class="rounded-lg bg-[#c6e1ffd6] overflow-hidden p-2 flex flex-col cursor-pointer transform transition-transform duration-500 ease-in-out mr-4 w-40 h-60 scale-75"
  >
    <Image
      class="relative rounded-md aspect-square w-full object-cover hover:scale-105 transition-all duration-300 ease-in-out"
      src={project.img}
      alt={project.name}
    />

    <h2 class="text-center font-bold text-[#4264b3] mt-4">
      {project.name}
    </h2>
  </section>
</a>
