<footer
  class="bg-primary w-full h-40 absolute bottom-0 left-0 flex items-center"
>
  <div
    class="container mx-auto px-10 flex flex-row justify-between items-center"
  >
    <p class="text-white text-center text-sm md:text-2xl md:text-left">
      No olvides pasarte por mis redes sociales
    </p>
    <div class="flex flex-row justify-end">
      <a
        class="m-0 inline-block"
        href="https://linkedin.com/in/alejandro-bernardo-rupérez-810905227/"
        target="_blank"
        rel="noopener nofollow"
      >
        <img
          class="w-12 hover:scale-110 transition hover:drop-shadow-glow cursor-pointer"
          src="src/images/LinkedIn.svg"
          alt="LinkedIn Logo"
        />
      </a>
      <a
        class="ml-10 inline-block"
        href="https://github.com/AlexBR784"
        target="_blank"
        rel="noopener nofollow"
      >
        <img
          class="w-12 hover:scale-110 transition hover:drop-shadow-glow cursor-pointer"
          src="src/images/GitHub.svg"
          alt="GitHub Logo"
        />
      </a>
    </div>
  </div>
</footer>
