---
import TechItem from "./TechItem.astro";
---

<section class="flex flex-col items-center mx-auto">
  <h4 class="text-center text-3xl">Conocimientos</h4>
  <div class="grid gap-2 grid-cols-4 max-w-full py-16">
    <TechItem tech="JavaScript" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="HTML" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="CSS" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Tailwind" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Astro" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Git" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Apex" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Salesforce" background="#c6e2ff" color="#1e429f" />
  </div>
</section>
