---
const { tech, background, color, icon } = Astro.props;
---

<div class="flex justify-center">
  <span
    style={`background-color: ${background}; color: ${color};`}
    class="text-sm font-medium px-2.5 py-0.5 rounded w-24 text-center inline-block transform transition-transform duration-300 ease-in-out hover:scale-110 cursor-pointer"
  >
    {tech}
  </span>
</div>
