---
import TechItem from "./TechItem.astro";
---

<section class="flex flex-col items-center mx-auto">
  <div class="relative inline-block group mb-4">
    <h4 class="text-center text-3xl title-custom">
      Conocimientos
    </h4>
    <div class="absolute bottom-0 left-0 w-0 h-[3px] bg-slate-900 group-hover:w-full transition-all duration-500 ease-in-out origin-left group-hover:rotate-[-1deg]"></div>
  </div>
  <div class="grid gap-2 grid-cols-4 max-w-full py-16">
    <TechItem tech="JavaScript" background="#c6e2ff" color="#1e429f"/>
    <TechItem tech="HTML" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="CSS" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Tailwind" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Astro" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Git" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Apex" background="#c6e2ff" color="#1e429f" />
    <TechItem tech="Salesforce" background="#c6e2ff" color="#1e429f" />

  </div>
</section>

<style>
  .title-custom {
    box-shadow: inset 0 0 0 0 #c6e2ff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    position: relative;
    display: inline-block;
  }
  .title-custom:hover {
    box-shadow: inset 100vw 0 0 0 #c6e2ff;
  }
</style>
