<div class="relative p-24 h-screen">
  <section class="flex flex-col w-full justify-center items-center">
    <h4 class="-skew-y-6 text-6xl text-primary font-[Pacifico]">Experiencia</h4>
    <div
      class="text-[#6B6B6B] items-center justify-center mt-32 md:w-1/2 text-sm md:text-2xl text-center"
    >
      Durante mi carrera con Salesforce he adquirido experiencia en creación de
      Lightning Web Components, clases Apex, OmniScripts, Flexcards, Dataraptors
      y mucho más...
    </div>
    <div
      class="text-[#6B6B6B] items-center justify-center mt-10 md:w-1/2 text-sm md:text-2xl text-center"
    >
      Además he trabajado en proyectos y colaborado en ellos con distintos
      profesionales, desarrollando así las capacidades de trabajo en equipo.
    </div>
  </section>
</div>
