---
import LogoSF from "@/images/LogoSF.svg";
---

<div class="flex justify-center items-center h-screen relative">
  <section class="flex flex-col w-full justify-center items-center">
    <div class="items-center -skew-y-6 text-6xl text-primary font-[Pacifico]">
      I am a...
    </div>
    <div class="items-center mt-24 relative">
      <div class="text-5xl md:text-7xl text-white font-[Pacifico]">
        Salesforce <span class="text-primary">Developer</span>
        <img
          src={LogoSF.src}
          class="hidden md:block absolute z-[-1] top-[-70px] left-[-25px] w-[350px]"
          alt="image description"
        />
      </div>
    </div>
    <div class="text-[#6B6B6B] items-center mt-28">
      Hola, mi nombre es Alejandro, y actualmente estoy trabajando como Engineer
      en NTT Data
    </div>
  </section>
</div>
