---
import Social from "@/components/Social.astro";
---

<div class="relative p-24 h-screen">
  <section class="flex flex-col w-full justify-center items-center">
    <h4 class="-skew-y-6 text-6xl text-primary font-[Pacifico]">
      Otros conocimientos
    </h4>
    <div class="flex flex-col md:flex-row mt-24 w-1/2 justify-center">
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src="src/images/html.svg"
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src="src/images/JavaScript.svg"
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src="src/images/Tailwind CSS.svg"
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src="src/images/Astro.svg"
      />
      <img
        class="w-1/12 mt-3 md:mx-3 hover:scale-110 transition hover:drop-shadow-glow"
        src="src/images/Git.svg"
      />
    </div>
  </section>
  <Social />
</div>
